* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  height: 90vh;
  background: rgb(197,182,208);
  background: linear-gradient(90deg, rgba(197,182,208,1) 0%, rgb(216, 148, 233) 100%);
}

nav.menu_lateral {
  width: 78px;
  height: 100%;
  background-color: rgb(37, 36, 36);
  padding: 40px 0 30px 1%;
  box-shadow: 1px 0px 0px;
  color: #8e078e;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
  z-index: 1000;
}

nav.menu_lateral.expandir {
  width: 400px;
}

.btn_expand {
  width: 100%;
  padding-left: 11px;
}

.btn_expand > i {
  color: rgb(218, 218, 218);
  font-size: 35px;
  cursor: pointer;
}

.btn_expand i:hover {
  color: rgb(255, 255, 255);
  transition: 1s;
}

.menu_lateral ul {
  height: 100%;
  list-style-type: none;
}

ul li.item_menu a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item_menu {
  transition: 800ms;
}

ul li.ativo {
  background-color: rgb(101, 46, 95);
}

ul li.item_menu:hover {
  background:  #8e078e;
}

ul li.item_menu a .txt_link {
  margin-left: 80px;
  transition: 800ms;
  opacity: 0;
}

nav.menu_lateral.expandir .txt_link {
  margin-left: 40px;
  opacity: 3;
}

ul li.item_menu a .icon > i {
  font-size: 30px;
  margin-left: 10px;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 3px solid #5e0652;
  border-radius: 10px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #5e0652;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #5e0652;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.hide {
  display: none;
}

.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
  backdrop-filter: blur(1rem);
  position: relative;
  z-index: 1; 
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

.todo-container header h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
}


#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#todo-form .form-control,
#edit-form .form-control {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

#todo-form input,
#edit-form input {
  margin-right: 0.3rem;
}

#cancel-edit-btn{
  margin-left: 1rem;
}

#cancel-edit-btn:hover{
  color: #fff;
}

#todo-id {
  margin-bottom: 0.5rem;
}


#toolbar {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

#toolbar #search {
  display: flex;
  flex-direction: column;
  width: 10px;
  margin-right: 20rem;
}

#toolbar #search h4 {
  margin-bottom: 0.5rem;
  margin-right: 18rem;
}

#toolbar #search form {
  display: flex;
  align-items: center;
}

#toolbar #search input {
  flex: 1;
  margin-right: 0.3rem;
}

#toolbar #erase-button {
  padding: 0.3rem;
}

#todo-list {
  padding: 1rem;
}

.todo {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo.done h3 {
  text-decoration: line-through;
}

.todo.done{
  background-color: #c372ca;
}

.todo button {
  margin-left: 0.5rem;
}
